@import url(https://fonts.googleapis.com/css?family=Oswald);

html, body {
    margin: 0
    padding: 0;
    height: 100;
    font-family: '', ;
}

.homepage {
    background: url();
    height: 100%;
}